/bootstrap
/assets
/scss
/index.html
/main.css
/discography
*/.vs
/obj/Debug
/nodeapp/ExpressApp1/ExpressApp1/bin
/nodeapp/ExpressApp1/.vs/ExpressApp1/v16
/nodeapp/ExpressApp1/ExpressApp1/obj/Debug
/nodeapp/ExpressApp1/ExpressApp1/downloads/albums/wav