extends layout

block content
	div(class="row profile rounded mx-auto my-5 slideanim")
		div(class="col-md-3 p-4")
			img(src="images/pfp.jpg" class="rounded mx-auto mx-1 img-fluid")
			//- span shadowlerone (They/Them)
		div(class="col-md-9")
			row
				h1(class="display-4") shadowlerone
			p(class="") #{desc}