block nav
    nav(class="navvar navbar-expand-sm bg-dark navbar-dark fixed-top-sm")
            a(class="navbar-brand", href="#") Logo
            ul(class="navbar-nav")
                li(class="nav-item")
                    a(class="nav-link")
                li(class="nav-item")
                    a(class="nav-link")